body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/*========== header ============*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.line-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  width: 100%;
}

.line-studio.line-studio {
  color: #404bbf;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: #2e2f42;
}

.header-item {
  background-color: #fff;
  gap: 40px;
  position: relative;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:active {
  color: #434455;
}

.header-link:focus {
  color: #404bbf;
}

.header-link:hover {
  color: #404bbf;
}

.address-container {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #434455;
  gap: 40px;
}

.address-menu {
  display: inline-flex;
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-menu-item-list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-menu-item-list:focus {
  color: #404bbf;
}

.address-menu-item-list:hover {
  color: #404bbf;
}

/*============================*/

/*========== main ============*/
.main {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.main-container {
}

.main-name {
  color: var(--WHITE, #ffffff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.main-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-btn:after {
  content: "";
}

.main-btn:hover {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sub-title {
  background-color: #ffffff;
  padding: 120px 0;
}
.main-btn:focus {
  background-color: #404bbf;
}

.title-feature {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-list-item {
  width: calc((100% - 72px) / 4);
}

.feature-icon-box {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}

.feature-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.title-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*============================*/

/*========== hero ============*/
.hero {
  background: #f4f4fd;
  height: 732px;
  flex-shrink: 0;
  display: block;
  padding: 120px 0;
}
.container-hero {
}

.hero-images {
  justify-content: center;
  display: flex;
  gap: 24px;
}

.hero-title-networks-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.hero-title-networks-item {
  width: 40px;
  height: 40px;
}

.hero-title-networks-link:hover,
.hero-title-networks-link:focus {
  background-color: #404bbf;
}

.hero-icon {
  fill: #f4f4fd;
}

.hero-title-networks-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.hero-subtitle {
  background: #fff;
  width: calc((100% - 72px) / 4);
  padding-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-title {
  padding: 32px 0;
}

.hero-item {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.hero-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.hero-profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*============================*/

/*========== portfolio ============*/
.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-item {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-images {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-container {
  display: block;
  flex-shrink: 0;
}

.portfolio-images-wrapper {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-images-wrapper:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-images-wrapper:hover .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-wrapeer {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img-text {
  color: #f4f4fd;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*============================*/

/*========== footer ============*/
.footer-section {
  padding: 100px 0;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--CLOUD, #f4f4fd);
}

.footer-container-box {
  margin-right: 120px;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.span-logo {
  color: #f4f4fd;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-soc-box {
  align-items: center;
}

.footer-soc-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-left: 0;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-bottom {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: #fff;
}

.footer-soc-p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-bottom:last-child {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-label {
}

.footer-input-form {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  outline: transparent;
  padding: 8px 16px;
  background-color: transparent;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input-form::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.footer-form-btn:focus {
  background-color: #404bbf;
}

.footer-form-btn:hover {
  background-color: #404bbf;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  gap: 24px;
  background-color: transparent;
  fill: #fff;
  margin-left: 16px;
}

/*=====footer end=====*/

/*  Modal-form*/

.input-wrap {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 34px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.002em;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  padding-left: 38px;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-label-textarea {
  color: #8e8f99;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 0.04em;
  margin-top: 8px;
  margin-bottom: 4px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.checkbox-text {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  align-items: center;
}

.checkbox-text a {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.check-text-box {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .checkbox-text > .check-text-box {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
